<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upgrade</title>
</head>
<body>
    <h1>Fazer Upgrade em seu caminhao:</h1>
    <p>Seu caminhao: *caminhao escolhido*</p>

    <form action="/forms.html">

        <label for="Carga">Escolha a sua nova carga: </label>
        <select name="carga" id="carga">
            <option value="carga1">Usar carga padrao</option>
            <option value="carga2">Upgrade carga</option>
        <!-- Realizar o for dentro de todos as cargas disponiveis no banco -->
        </select>
        <br>
        <label for="Eixo">Escolha o seu novo eixo: </label>
        <select name="eixo" id="models">
            <option value="eixo1">usar eixo padrao</option>
            <option value="eixo2">Upgrade eixo</option>
        </select>
        <br>
        <label for="Cor">Escolha a sua nova cor: </label>
        <select name="cor" id="models">
            <option value="co1">Preta</option>
            <option value="cor2">Branco</option>
        </select>
        <br>
        <label for="Roda">Escolha a sua nova roda: </label>
        <select name="roda" id="models">
            <option value="roda1">usar roda padrao</option>
            <option value="roda2">Upgrade roda</option>
        </select>
        <br>
        <label for="Motor">Escolha o seu novo motor: </label>
        <select name="motor" id="models">
            <option value="motor1">usar motor padrao</option>
            <option value="motor2">Upgrade motor</option>
        </select>

        <br><br>
        <input type="submit" value="Submit">

    </form>
    
</body>
</html>